.mv-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.mh-0 {
  margin-right: 0px;
  margin-left: 0px; }

.pv-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.ph-0 {
  padding-right: 0px;
  padding-left: 0px; }

.mv-4 {
  margin-top: 4px;
  margin-bottom: 4px; }

.mh-4 {
  margin-right: 4px;
  margin-left: 4px; }

.pv-4 {
  padding-top: 4px;
  padding-bottom: 4px; }

.ph-4 {
  padding-right: 4px;
  padding-left: 4px; }

.mv-8 {
  margin-top: 8px;
  margin-bottom: 8px; }

.mh-8 {
  margin-right: 8px;
  margin-left: 8px; }

.pv-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.ph-8 {
  padding-right: 8px;
  padding-left: 8px; }

.mv-12 {
  margin-top: 12px;
  margin-bottom: 12px; }

.mh-12 {
  margin-right: 12px;
  margin-left: 12px; }

.pv-12 {
  padding-top: 12px;
  padding-bottom: 12px; }

.ph-12 {
  padding-right: 12px;
  padding-left: 12px; }

.mv-16 {
  margin-top: 16px;
  margin-bottom: 16px; }

.mh-16 {
  margin-right: 16px;
  margin-left: 16px; }

.pv-16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.ph-16 {
  padding-right: 16px;
  padding-left: 16px; }

.mv-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.mh-20 {
  margin-right: 20px;
  margin-left: 20px; }

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.ph-20 {
  padding-right: 20px;
  padding-left: 20px; }

.mv-24 {
  margin-top: 24px;
  margin-bottom: 24px; }

.mh-24 {
  margin-right: 24px;
  margin-left: 24px; }

.pv-24 {
  padding-top: 24px;
  padding-bottom: 24px; }

.ph-24 {
  padding-right: 24px;
  padding-left: 24px; }

.mv-28 {
  margin-top: 28px;
  margin-bottom: 28px; }

.mh-28 {
  margin-right: 28px;
  margin-left: 28px; }

.pv-28 {
  padding-top: 28px;
  padding-bottom: 28px; }

.ph-28 {
  padding-right: 28px;
  padding-left: 28px; }

.mv-32 {
  margin-top: 32px;
  margin-bottom: 32px; }

.mh-32 {
  margin-right: 32px;
  margin-left: 32px; }

.pv-32 {
  padding-top: 32px;
  padding-bottom: 32px; }

.ph-32 {
  padding-right: 32px;
  padding-left: 32px; }

.mv-36 {
  margin-top: 36px;
  margin-bottom: 36px; }

.mh-36 {
  margin-right: 36px;
  margin-left: 36px; }

.pv-36 {
  padding-top: 36px;
  padding-bottom: 36px; }

.ph-36 {
  padding-right: 36px;
  padding-left: 36px; }

.mv-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.mh-40 {
  margin-right: 40px;
  margin-left: 40px; }

.pv-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.ph-40 {
  padding-right: 40px;
  padding-left: 40px; }

.mv-44 {
  margin-top: 44px;
  margin-bottom: 44px; }

.mh-44 {
  margin-right: 44px;
  margin-left: 44px; }

.pv-44 {
  padding-top: 44px;
  padding-bottom: 44px; }

.ph-44 {
  padding-right: 44px;
  padding-left: 44px; }

.mv-48 {
  margin-top: 48px;
  margin-bottom: 48px; }

.mh-48 {
  margin-right: 48px;
  margin-left: 48px; }

.pv-48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.ph-48 {
  padding-right: 48px;
  padding-left: 48px; }

.mv-52 {
  margin-top: 52px;
  margin-bottom: 52px; }

.mh-52 {
  margin-right: 52px;
  margin-left: 52px; }

.pv-52 {
  padding-top: 52px;
  padding-bottom: 52px; }

.ph-52 {
  padding-right: 52px;
  padding-left: 52px; }

.mv-56 {
  margin-top: 56px;
  margin-bottom: 56px; }

.mh-56 {
  margin-right: 56px;
  margin-left: 56px; }

.pv-56 {
  padding-top: 56px;
  padding-bottom: 56px; }

.ph-56 {
  padding-right: 56px;
  padding-left: 56px; }

.mv-60 {
  margin-top: 60px;
  margin-bottom: 60px; }

.mh-60 {
  margin-right: 60px;
  margin-left: 60px; }

.pv-60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.ph-60 {
  padding-right: 60px;
  padding-left: 60px; }

.mv-64 {
  margin-top: 64px;
  margin-bottom: 64px; }

.mh-64 {
  margin-right: 64px;
  margin-left: 64px; }

.pv-64 {
  padding-top: 64px;
  padding-bottom: 64px; }

.ph-64 {
  padding-right: 64px;
  padding-left: 64px; }

.mv-68 {
  margin-top: 68px;
  margin-bottom: 68px; }

.mh-68 {
  margin-right: 68px;
  margin-left: 68px; }

.pv-68 {
  padding-top: 68px;
  padding-bottom: 68px; }

.ph-68 {
  padding-right: 68px;
  padding-left: 68px; }

.mv-72 {
  margin-top: 72px;
  margin-bottom: 72px; }

.mh-72 {
  margin-right: 72px;
  margin-left: 72px; }

.pv-72 {
  padding-top: 72px;
  padding-bottom: 72px; }

.ph-72 {
  padding-right: 72px;
  padding-left: 72px; }

.mv-76 {
  margin-top: 76px;
  margin-bottom: 76px; }

.mh-76 {
  margin-right: 76px;
  margin-left: 76px; }

.pv-76 {
  padding-top: 76px;
  padding-bottom: 76px; }

.ph-76 {
  padding-right: 76px;
  padding-left: 76px; }

.mv-80 {
  margin-top: 80px;
  margin-bottom: 80px; }

.mh-80 {
  margin-right: 80px;
  margin-left: 80px; }

.pv-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.ph-80 {
  padding-right: 80px;
  padding-left: 80px; }

.width-5 {
  width: 5%; }

.width-10 {
  width: 10%; }

.width-15 {
  width: 15%; }

.width-20 {
  width: 20%; }

.width-25 {
  width: 25%; }

.width-30 {
  width: 30%; }

.width-35 {
  width: 35%; }

.width-40 {
  width: 40%; }

.width-45 {
  width: 45%; }

.width-50 {
  width: 50%; }

.width-55 {
  width: 55%; }

.width-60 {
  width: 60%; }

.width-65 {
  width: 65%; }

.width-70 {
  width: 70%; }

.width-75 {
  width: 75%; }

.width-80 {
  width: 80%; }

.width-85 {
  width: 85%; }

.width-90 {
  width: 90%; }

.width-95 {
  width: 95%; }

.width-100 {
  width: 100%; }

.width-25 {
  width: 25%; }

.width-50 {
  width: 50%; }

.width-75 {
  width: 75%; }

.width-33 {
  width: 33%; }

.width-66 {
  width: 66%; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.center {
  justify-content: center; }

.space-between-center {
  justify-content: space-between;
  align-items: center; }

.space-between-start {
  justify-content: space-between;
  align-items: flex-start; }

.space-around-center {
  justify-content: space-around;
  align-content: center; }

.space-around-start {
  justify-content: space-around;
  align-content: start; }

.center-center {
  justify-content: center;
  align-items: center; }

.center-end {
  justify-content: center;
  align-items: flex-end; }

.start-start {
  justify-content: flex-start;
  align-items: flex-start; }

.start-center {
  justify-content: flex-start;
  align-items: center; }

.start-end {
  justify-content: flex-start;
  align-items: flex-end; }

.end-start {
  justify-content: flex-end;
  align-items: flex-end; }

.end-center {
  justify-content: flex-end;
  align-items: center; }

.end-start {
  justify-content: flex-end;
  align-items: flex-start; }

.end-end {
  justify-content: flex-end;
  align-items: flex-end; }

/*# sourceMappingURL=bouyant-core.css.map */
